# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: gwood <gwood@student.42.fr>                +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2018/02/20 15:21:43 by gwood             #+#    #+#              #
#    Updated: 2018/06/18 17:17:39 by gwood            ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

*.gch
*.swp
.vscode/
obj/
fdf
*.a
*.o
test_maps
.leaks
.norm
